<h3>ライブ情報検索ページへ</h3>
<%= form_tag({controller:"bands",action:"live_info"}, method: :get) do %>
    <% Band.pluck("name").uniq.each do |b| %>
        <li><%= check_box :word, b %><%= b %></li>
    <% end %>
    <%= submit_tag '検索' %>
<% end %>
<% if @livelist %>
    <% @livelist.pluck("name").uniq.each do |live| %>
      <% if live == "numbershot" %>
        <%= link_to live, number_shot_festivals_path %>
      <% end %>
      <% if live == "WILDBUNCH" %>
        <%= link_to live, wildbunch_festivals_path %>
      <% end %>
    <% end %>
<% end %>

<%= link_to "TOPページへ", bands_path %>


